@import "../../styles/variables";

.dashboard {
  padding: 40px 0;

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
  }

  &__col {
    width: 33.33333%;
    padding: 20px;
  }
}

@media (max-width: $breakpointMD) {
  .dashboard {
    padding: 0;

    &__col {
      width: 50%;
    }
  }
}

@media (max-width: $breakpointXS) {
  .dashboard {
    &__col {
      width: 100%;
    }
  }
}
