@keyframes fadeOut {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.image-view {
  display: flex;
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.85);
  animation: fadeOut 0.3s ease-out;
  animation-fill-mode: forwards;

  &__close {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 2px;
      margin-top: -1px;
      background-color: #fff;
      transform: rotate(45deg);
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 2px;
      margin-top: -1px;
      background-color: #fff;
      transform: rotate(-45deg);
    }
  }

  &__wrap {
    max-width: 80%;
  }

  &__image {
    width: 600px;
    height: 400px;
    max-width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__actions {
    position: absolute;
    top: 32px;
    right: 120px;
  }

  &__edit {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
  }

  &__delete {
    margin-right: 40px;
    font-size: 20px;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
